<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency by Country</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container"></div>
        <h1>Currency Used by Country: {{ country }}</h1>
        <table>
            <thead>
                <tr>
                    <th>Currency Code</th>
                    <th>Currency Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ currency.sISOCode }}</td>
                    <td>{{ currency.sName }}</td>
                </tr>
            </tbody>
        </table>
        <a href="/">Back to Home</a>
    </div>
</body>
</html>



